#main {
    display: flex;
    flex-direction: column;
}
#logo {
    height: 150px
}

main {
    /* border: 1px solid black; */
}

#slides {
    /* border: 1px solid black; */
    height: 400px;
    width: 80%;
    margin: 0 auto;
}

.mySlides {
    position: absolute;
    width: 80%;
    background-size: cover;
    height: 400px;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

.mySlides h2 {
    margin-top: 160px;
    color: white;
    font-size: 70px;
    text-align: center;
}

/* .mySlides p {
    color: white;
    font-size: 30px;
} */

#photo1 {
    background-image: url("images/1.jpg");
}

#photo2 {
    background-image: url("images/2.jpg");
}

#photo3 {
    background-image: url("images/3.jpg");
}

#photo4 {
    background-image: url("images/4.jpg");
}


#textContent {
    width: 80%;
}