html {
    scroll-behavior: smooth;
    scroll-padding-top: 30px;
}

body {
    margin: 0;
}

* {
    font-family: 'Wix Madefor Display', sans-serif;
}

p {
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #2b4aec;
}
a:active { text-decoration: none; }

header {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

header>img {
    margin-left: 50px;
    margin-right: 50px;
}

h2 {
    text-align: center;
    color: #3f7286;
    margin-top: 60px;
    margin-bottom: 40px;
}

input, textarea {
    margin-top: 5px;
}

#menu {
    /* width: 90%; */
    background-color: #3e7286;
    display: flex;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 10px;
}

#menu>a {
    transition: transform .3s;
    margin: 10px 20px;
    padding: 5px;
    display: flex;
    align-items: center;
}

#menu>a:hover {
    transform: scale(1.1);
}

#menu>a::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

#menu>a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.menuItem {
    color: white;
    font-size: 23px;
    font-weight: bold;
    /* padding: 8px; */
    /* transition: all .3s; */
}

.menuItem:hover {
    /* transform: scale(1.1); */
}

#main {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.logo {
    margin-bottom: 20px;
    height: 110px
}

main {
    /* border: 1px solid black; */
    width: 80%;
    margin: 0 auto;
}

#slides {
    /* border: 1px solid black; */
    height: 440px;
    /* width: 80%; */
    /* margin: 0 auto; */
}

.overlay {
    position: absolute;
    width: 80%;
    height: 440px;
    background-color: black;
    opacity: 0.2;
}

.mySlides {
    position: absolute;
    width: 80%;
    background-size: cover;
    background-position: center;
    height: 440px;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

.mySlides h2 {
    position: relative;
    margin-top: 180px;
    color: white;
    font-size: 70px;
    text-align: center;
    z-index: 2;
}

/* .mySlides p {
    color: white;
    font-size: 30px;
} */

#photo1 {
    background-image: url("images/1.jpg");
}

#photo2 {
    background-image: url("images/2.jpg");
}

#photo3 {
    background-image: url("images/3.jpg");
}

#photo4 {
    background-image: url("images/4.jpg");
}

#photo5 {
    background-image: url("images/5.jpg");
}

#textContent {
    /* width: 80%; */
    margin-top: 50px;
}

#textContent > h2 {
    font-size: 40px;
}

.sluzby {
    /* background-color: #00acfe21; */
    border-radius: 15px;
    padding-top: 20px;
    margin-bottom: 110px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.sluzby-item {
    display: flex;
    width: 160px;
    height: 160px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    /* box-shadow: rgba(63, 114, 134, 0.4) 5px 5px, rgba(63, 114, 134, 0.3) 10px 10px, rgba(63, 114, 134, 0.2) 15px 15px, rgba(63, 114, 134, 0.1) 20px 20px, rgba(63, 114, 134, 0.05) 25px 25px;
    border: 1px solid rgba(63, 114, 134, 0.4); */
    justify-content: flex-end;
    transition: transform .3s;
    /* padding-top: -15px; */
    border-radius: 100px;

    background-image: url("images/circles.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 20px;
    transition: transform 0.15s linear, background-color 0.2s linear;
}

.sluzby-item:hover {
    transform: scale(1.07);
    cursor: pointer;
    background-color: rgba(63, 114, 134, 0.15);
}

.sluzby-item.active {
    background-color: rgba(63, 114, 134, 0.3);
}

.sluzby-item > div:first-of-type {
    width: 80px;
    height: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#truck {
    background-image: url("images/cargo-truck.png");
    position: relative;
    top: 40px;
}

#train {
    background-image: url("images/train.png");
    position: relative;
    top: 37px;
    background-size: 90%;
}

#boat {
    background-image: url("images/boat.png");
    position: relative;
    top: 37px;
    background-size: 90%;
}

#plane {
    background-image: url("images/plane.png");
    background-size: 85%;
    position: relative;
    top: 37px;
}

#custom-clearance {
    background-image: url("images/officer.png");
    position: relative;
    background-size: 90%;
    top: 37px;
}

.sluzby-item > p {
    position: relative;
    top: 70px;
}

.sluzby-item.active > p {
    font-weight: 900;
}

.sluzby-item:first-of-type > img {
    position: relative;
    top: 8px;
}

.sluzby-text-container {
    margin-top: 30px;
    display: none;
}

#services-list {
    margin-top: 50px;
}

ul {
    line-height: 1.5em;
    margin: 5px 0 15px;
    padding: 0;
}

.sluzby-text-container > ul {
    padding-left: 40px;
}

.sluzby-text-container > ul > li {
    padding: 0;
    list-style: disc;
}
  
li {
    list-style: none;
    position: relative;
    padding: 0 0 0 20px;
}

li.heart::before, li.heart::after {
    content: ""; 
    position: absolute; 
    left: 7px; 
    top: 5px; 
    width: 7px; 
    height: 12px; 
    background: #3e7286;
    border-radius: 50px 50px 0 0; 
    transform: rotate(-45deg); 
    transform-origin: 0 100%;
}
  
li.heart::after {
    content: ""; 
    position: absolute; 
    top: 5px; 
    left: 0; 
    transform: rotate(45deg); 
    transform-origin: 100% 100%;
}

.phone-email {
    display: flex;
}

#sendBtn {
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
    color: white;
    background-color: #3e7286;
    border-width: 1px;
    border-style: solid;
    border-radius: 40px;
    cursor: pointer;
    transition: transform .3s;
}

#sendBtn:hover {
    transform: scale(1.1)
}

footer {
    margin-top: 230px;
    padding: 25px;
    background-color: #3e7286;
    text-align: center;
    font-size: 12px;
}

footer a {
    color: white;
}

#confirmationModal {
    display: none;
    background-color: #3e7286;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    width: 700px;
    height:  350px;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    z-index: 10;
}

#confirmationModal > h2 {
    color: white;
    font-size: 40px;
}

#confirmationModal > button {
    width: 200px;
    height: 80px;
    background-color: white;
    color: #3e7286;
    font-size: 30px;
    font-weight: 800;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 40px;
}