html {
    scroll-behavior: smooth;
    scroll-padding-top: 30px;
}

a:link {
    text-decoration: none;
    color: #2b4aec;
}
a:visited {
    text-decoration: none;
    color: #2b4aec;
}
a:hover {
    text-decoration: none;
    color: #0f2ab7;
}
a:active { text-decoration: none; }

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

h2 {
    color: #1b00de;
}

#main {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.logo {
    margin-bottom: 20px;
    height: 150px
}

main {
    /* border: 1px solid black; */
    width: 80%;
    margin: 0 auto;
}

#slides {
    /* border: 1px solid black; */
    height: 400px;
    /* width: 80%; */
    /* margin: 0 auto; */
}

.overlay {
    position: absolute;
    width: 80%;
    height: 400px;
    background-color: black;
    opacity: 0.2;
}

.mySlides {
    position: absolute;
    width: 80%;
    background-size: cover;
    height: 400px;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

.mySlides h2 {
    position: relative;
    margin-top: 160px;
    color: white;
    font-size: 70px;
    text-align: center;
    z-index: 2;
}

/* .mySlides p {
    color: white;
    font-size: 30px;
} */

#photo1 {
    background-image: url("images/1.jpg");
}

#photo2 {
    background-image: url("images/2.jpg");
}

#photo3 {
    background-image: url("images/3.jpg");
}

#photo4 {
    background-image: url("images/4.jpg");
}

/* #photo5 {
    background-image: url("images/5.jpg");
} */

#hexa {
    margin-top: 20px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
}

.hex {
    font-size: 340px;
    color: #037035;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 250px;
}

.hexText {
    color: white;
    font-size: 30px;
    position: absolute;
    /* height: inherit; */
}

#textContent {
    /* width: 80%; */
    margin-top: 50px;
}

#textContent > h2 {
    font-size: 40px;
}

.sluzby {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.sluzby-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sluzby-item > img {
    width: 80px;
    height: 80px;
}

#sendBtn {
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
    color: white;
    background-color: #037035;
    border-width: 1px;
    border-style: solid;
    border-radius: 40px;
}

footer {
    padding-top: 230px;
}